body{
    background: hsl(194, 95%, 77%);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;

    border: 50;
    border-radius: 10px;
    box-shadow: 3px 7px 9px rgba(0, 0, 0, 0.514);
}

#app{
    color: #000000;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    opacity: 85%;
    text-shadow: #444;
    padding-top: 1px;
}


.holder{
    align-content:space-around ;
    align-self:stretch ;
    align-items:stretch ;
    border-radius: 10px;

}


#entries{
    display: inline-flex;
    /* width: 460px; */
}

#entryHolder {
    width: 210px;
    color: #ffffff;
    background: rgb(0, 0, 0);
    margin: 5px;
    border-radius: 10px;
    animation-name: glowFx;
    animation-duration: 0.5s;
    box-shadow: 3px 7px 9px rgba(0, 0, 0, 0.514);
}

@keyframes glowFx {
    from {background-color: #ffffff;}
    to {background-color: #000000;}
}

textarea{
    box-shadow: 3px 7px 9px rgba(0, 0, 0, 0.514);

}


#temp{

}

#content{

}

.headline {
    background:#ffffff;
    color: #8d4545;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin: 10px;
    box-shadow: 3px 7px 9px rgba(0, 0, 0, 0.514);
    border: 10px;
}
.title{

}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    font-size: 27px;
}

input{
    /* display:block; */
    background:#ffffff;
    color: #8d4545;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}


button{
    height: 60px;
    width: 160px;

    background:#ffffff;
    color: #000000;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    box-shadow: 3px 7px 9px rgba(0, 0, 0, 0.514);
}
h1{
    font-size: 36px;
}

textarea{
    /* width: 320px; */
    background:#ffffff;
    color: #000000;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #000000; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #000000; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #000000; 
    font-family: 'Oswald', sans-serif;

} 